#comment {
  height: 100%;
  width: 100%;
  position: relative;
  user-select: none;
}
#comment .comment_bgimg {
  width: 100%;
}
#comment .comment_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 8% 0 0 21%;
}
#comment .comment_box .comment_notice {
  width: 88%;
  height: 20%;
  padding: 0 6%;
}
#comment .comment_box .comment_notice img {
  margin: 3% 0;
}
#comment .comment_box .comment_notice .notice_txt {
  text-indent: 2em;
  font-size: 14px;
  max-height: 57%;
  line-height: 25px;
  word-wrap: break-word;
  word-break: break-all;
  font-weight: 550;
  overflow: hidden;
  color: #814f29;
}
#comment .comment_box .comment_txtbox {
  width: 88%;
  height: 59%;
  padding: 5%;
  margin-top: 4%;
  overflow-y: auto;
}
#comment .comment_box .comment_txtbox .txtbox_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_user {
  display: flex;
  align-items: center;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_user .user_icon {
  height: 15%;
  width: 15%;
  border-radius: 50%;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_user .user_name {
  max-width: 45%;
  font-size: 18px;
  color: #ec6c14;
  margin: 0 4%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_user .user_type {
  width: 20%;
  background: #f23b29;
  text-align: center;
  color: #fff;
  line-height: 22px;
  font-size: 16px;
  border-radius: 10px 0 10px 0;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_user .user_more .more_click {
  height: 20px;
  width: 20px;
  border: 1px solid #c4bebe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  color: #c4bebe;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_txt {
  background: #f9eace;
  border-radius: 5px;
  padding: 8%;
  position: relative;
  margin: 5% 0 0 5%;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_txt .txt {
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 14px;
  color: #000;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_txt .txt /deep/ img {
  position: relative;
  top: 5px;
  margin: 0 0.5%;
}
#comment .comment_box .comment_txtbox .txtbox_list .list_txt .txt_triangle {
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #f9eace;
}
#comment .comment_box .comment_txtbox::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#comment .comment_box .comment_txtbox::-webkit-scrollbar-thumb {
  background: #d19e5c;
  border-radius: 3px;
}
#comment .comment_box .comment_txtbox::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #fff;
}
#comment .comment_box .comment_ipt {
  /*   border: 1px solid #d19e5c; */
  height: 11%;
  width: 88%;
  margin: 13% 0 0 1%;
  position: relative;
  overflow: hidden;
}
#comment .comment_box .comment_ipt .comment_btn {
  position: absolute;
  display: flex;
  right: 3%;
  bottom: 11px;
  height: 31%;
  align-items: center;
}
#comment .comment_box .comment_ipt .comment_btn .emoji {
  background: #fede9a;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 5px;
}
#comment .comment_box .comment_ipt .comment_btn .ipt_btn {
  color: #fff;
  text-align: center;
  width: 65px;
  height: 33px;
  line-height: 33px;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  background: url("../../assets/img/sendBtn.png") no-repeat;
}
#comment .comment_box .comment_ipt .ipt_edit {
  height: 100%;
  width: 100%;
}
