<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>点击其它地方关闭DIV</title>
  </head>

  <body>
    <button id="tf">打开</button>
    <input
      style="width:400px; height:200px;border:1px solid #000;"
      id="con"
    />
    <script>
      function e(obj) {
        return document.getElementById(obj);
      }
      document.onclick = function() {
        console.log(1);
        e("con").style.display = "none";
      };

      e("con").onclick = function(event) {
        console.log(1);
        //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数;
        stopBubble(event);
      };
      //阻止冒泡函数
      function stopBubble(e) {
        if (e && e.stopPropagation) {
          e.stopPropagation(); //w3c
        } else {
          window.event.cancelBubble = true; //IE
        }
      }
    </script>
  </body>
</html>
